Importing the Libaries and File.

In [1]:
import pandas as pd 
from pandasql import sqldf

In [2]:
run_query = lambda query: sqldf(query, globals())

In [3]:
df = pd.read_csv('Sales.csv')

In [4]:
df.head()

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2013-11-26,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
1,2015-11-26,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
2,2014-03-23,23,March,2014,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035,2401
3,2016-03-23,23,March,2016,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1188,900,2088
4,2014-05-15,15,May,2014,47,Adults (35-64),F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,418

In [5]:
# Check for missing values in the DataFrame
df.isna().sum()

Date                0
Day                 0
Month               0
Year                0
Customer_Age        0
Age_Group           0
Customer_Gender     0
Country             0
State               0
Product_Category    0
Sub_Category        0
Product             0
Order_Quantity      0
Unit_Cost           0
Unit_Price          0
Profit              0
Cost                0
Revenue             0
dtype: int64

In [6]:
# Query to get revenue per product category
query_1 = '''
SELECT SUM(revenue), Product_Category
from df
GROUP BY Product_Category
'''


Revenue_per_Catergory = run_query(query_1)

In [12]:
Revenue_per_Catergory
Revenue_per_Catergory.to_csv('Revenue_per_Catergory.csv',index=False)

In [16]:
# Query to get revenue per age group
query_2 = '''
SELECT SUM(revenue), Age_Group
from df
GROUP BY Age_Group
'''
Revenue_per_age = run_query(query_2)

# What are the top 5 products?
# Age group revenue 
# Monthly Profits  
# Total Amount of items sold  
# Total amoiunt of revenue 
Revenue_per_age
Revenue_per_age.to_csv('Revenue_per_age.csv',index=False)

In [14]:
# Query to get monthly profits
query_3 = '''
SELECT SUM(Profit), Month
from df
GROUP BY Month
'''
Monthly_profits = run_query(query_3)
Monthly_profits
Monthly_profits.to_csv('Monthly_profits.csv',index=False)

In [10]:

# Query to get total order quantity and total revenue
query_4 = '''
SELECT SUM(Order_Quantity) as Items_sold,SUM(Revenue) as Total_Revenue
from df
'''
Items_sold = run_query(query_4)
Items_sold

   Items_sold  Total_Revenue
0     1345316       85271008

In [15]:
# Query to get the top 5 products by revenue
query_5 = '''
SELECT Product, SUM(Revenue) AS Total_Revenue
FROM df
GROUP BY Product
ORDER BY Total_Revenue DESC
LIMIT 5
'''
Top_5_Products = run_query(query_5)
Top_5_Products
Top_5_Products.to_csv('Top_5_Products.csv',index=False)